In [1]:
import nba_api
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None)

In [2]:
from nba_api.stats.static.teams import find_team_by_abbreviation
from nba_api.stats.endpoints.teamgamelogs import TeamGameLogs

In [3]:
cle = find_team_by_abbreviation('CLE')['id']

In [4]:
discard = ['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME']

---
## Standard Game Logs

In [5]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.5,38.4,85.9,0.447,12.1,39.4,0.308,21.2,31.3,0.677,11.1,34.3,45.5,16.2,16.2,8.1,5.1,9.1,14.1,20.2,110.1,-14.1
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,47.1,38.2,82.4,0.464,9.8,35.3,0.278,16.7,20.6,0.810,6.9,36.3,43.1,23.5,16.7,3.9,2.9,5.9,20.6,18.6,102.9,-14.7
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,36.0,80.0,0.450,8.0,24.0,0.333,22.0,27.0,0.815,7.0,48.0,55.0,27.0,16.0,4.0,6.0,8.0,13.0,23.0,102.0,8.0
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,49.5,34.0,95.9,0.355,13.4,40.2,0.333,23.7,30.9,0.767,15.5,36.1,51.5,21.6,12.4,8.2,2.1,13.4,13.4,21.6,105.2,-9.3
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,49.5,34.0,88.7,0.384,11.3,32.0,0.355,20.6,32.0,0.645,10.3,28.9,39.2,18.6,16.5,5.2,2.1,7.2,12.4,24.7,100.0,-27.8

---
## Last N Games

In [6]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    last_n_games_nullable=5).get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.5,38.4,85.9,0.447,12.1,39.4,0.308,21.2,31.3,0.677,11.1,34.3,45.5,16.2,16.2,8.1,5.1,9.1,14.1,20.2,110.1,-14.1
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,47.1,38.2,82.4,0.464,9.8,35.3,0.278,16.7,20.6,0.810,6.9,36.3,43.1,23.5,16.7,3.9,2.9,5.9,20.6,18.6,102.9,-14.7
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,36.0,80.0,0.450,8.0,24.0,0.333,22.0,27.0,0.815,7.0,48.0,55.0,27.0,16.0,4.0,6.0,8.0,13.0,23.0,102.0,8.0
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,49.5,34.0,95.9,0.355,13.4,40.2,0.333,23.7,30.9,0.767,15.5,36.1,51.5,21.6,12.4,8.2,2.1,13.4,13.4,21.6,105.2,-9.3
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,49.5,34.0,88.7,0.384,11.3,32.0,0.355,20.6,32.0,0.645,10.3,28.9,39.2,18.6,16.5,5.2,2.1,7.2,12.4,24.7,100.0,-27.8

---
## Base

In [7]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    measure_type_player_game_logs_nullable='Base').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.5,38.4,85.9,0.447,12.1,39.4,0.308,21.2,31.3,0.677,11.1,34.3,45.5,16.2,16.2,8.1,5.1,9.1,14.1,20.2,110.1,-14.1
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,47.1,38.2,82.4,0.464,9.8,35.3,0.278,16.7,20.6,0.810,6.9,36.3,43.1,23.5,16.7,3.9,2.9,5.9,20.6,18.6,102.9,-14.7
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,36.0,80.0,0.450,8.0,24.0,0.333,22.0,27.0,0.815,7.0,48.0,55.0,27.0,16.0,4.0,6.0,8.0,13.0,23.0,102.0,8.0
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,49.5,34.0,95.9,0.355,13.4,40.2,0.333,23.7,30.9,0.767,15.5,36.1,51.5,21.6,12.4,8.2,2.1,13.4,13.4,21.6,105.2,-9.3
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,49.5,34.0,88.7,0.384,11.3,32.0,0.355,20.6,32.0,0.645,10.3,28.9,39.2,18.6,16.5,5.2,2.1,7.2,12.4,24.7,100.0,-27.8

---
## Advanced

In [8]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    measure_type_player_game_logs_nullable='Advanced').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TO,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,GP_RANK
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.0,105.2,110.1,124.9,125.5,-19.7,-15.4,0.421,1.00,12.2,0.321,0.872,0.554,0.162,0.518,0.553,101.1,98.5,82.08,99,0.396,1
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,48.0,101.7,102.9,115.1,120.0,-13.4,-17.1,0.615,1.41,17.5,0.239,0.736,0.505,0.167,0.524,0.563,103.8,101.0,84.17,102,0.440,1
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,101.1,102.0,92.9,94.0,8.2,8.0,0.750,1.69,19.7,0.244,0.758,0.550,0.160,0.500,0.555,101.0,100.0,83.33,100,0.640,1
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,48.0,98.8,105.2,115.6,112.1,-16.7,-7.0,0.636,1.75,15.1,0.344,0.745,0.519,0.124,0.425,0.480,99.6,98.0,81.67,97,0.410,1
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,48.0,91.8,100.0,121.8,126.5,-29.9,-26.5,0.545,1.13,13.3,0.357,0.682,0.500,0.165,0.448,0.487,103.7,97.5,81.25,97,0.329,1

---
## Misc

In [9]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    measure_type_player_game_logs_nullable='Misc').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS_OFF_TOV,PTS_2ND_CHANCE,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,PTS_OFF_TOV_RANK,PTS_2ND_CHANCE_RANK,PTS_FB_RANK,PTS_PAINT_RANK,OPP_PTS_OFF_TOV_RANK,OPP_PTS_2ND_CHANCE_RANK,OPP_PTS_FB_RANK,OPP_PTS_PAINT_RANK
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.5,15.2,19.2,8.1,48.5,28.3,3.0,22.2,50.5,1,23,23,23,5,44,11,51,42,69,2,67,30
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,47.1,15.7,9.8,5.9,49.0,20.6,16.7,9.8,54.9,1,23,23,23,5,36,48,62,41,51,53,19,48
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,7.0,9.0,4.0,44.0,12.0,16.0,5.0,48.0,1,1,1,1,5,70,55,70,58,12,51,10,24
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,49.5,12.4,17.5,13.4,41.2,15.5,9.3,14.4,66.0,1,23,23,23,5,53,18,22,63,23,24,41,66
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,49.5,15.5,19.6,5.2,33.0,16.5,12.4,21.6,53.6,1,23,23,23,5,39,10,66,71,28,42,65,44

---
## Four Factors

In [10]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    measure_type_player_game_logs_nullable='Four Factors').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,EFG_PCT_RANK,FTA_RATE_RANK,TM_TOV_PCT_RANK,OREB_PCT_RANK,OPP_EFG_PCT_RANK,OPP_FTA_RATE_RANK,OPP_TOV_PCT_RANK,OPP_OREB_PCT_RANK
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.0,0.518,0.365,0.162,0.321,0.663,0.205,0.122,0.128,1,23,23,23,5,30,7,38,20,67,29,51,2
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,48.0,0.524,0.250,0.167,0.239,0.500,0.416,0.110,0.264,1,23,23,23,5,28,39,41,55,12,71,57,37
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,0.500,0.338,0.160,0.244,0.416,0.139,0.070,0.242,1,1,1,1,5,40,14,37,52,1,8,70,28
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,48.0,0.425,0.323,0.124,0.344,0.563,0.182,0.111,0.255,1,23,23,23,5,66,17,17,12,43,19,56,31
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,48.0,0.448,0.360,0.165,0.357,0.618,0.118,0.122,0.318,1,23,23,23,5,59,9,39,8,59,5,51,53

---
## Scoring

In [11]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    measure_type_player_game_logs_nullable='Scoring').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,PCT_FGA_2PT_RANK
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.0,0.541,0.459,0.477,0.037,0.330,0.073,0.193,0.138,0.440,0.423,0.577,0.417,0.583,0.421,0.579,1,23,23,23,5,69
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,48.0,0.571,0.429,0.552,0.076,0.286,0.057,0.162,0.152,0.476,0.517,0.483,0.900,0.100,0.615,0.385,1,23,23,23,5,65
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,0.700,0.300,0.549,0.118,0.235,0.039,0.216,0.069,0.431,0.714,0.286,0.875,0.125,0.750,0.250,1,1,1,1,5,15
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,48.0,0.581,0.419,0.392,0.000,0.382,0.127,0.225,0.118,0.392,0.600,0.400,0.692,0.308,0.636,0.364,1,23,23,23,5,63
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,48.0,0.640,0.360,0.454,0.124,0.340,0.052,0.206,0.155,0.330,0.455,0.545,0.727,0.273,0.545,0.455,1,23,23,23,5,40

---
## Opponent

In [12]:
logs = TeamGameLogs(team_id_nullable=cle,
                    season_nullable='2020-21',
                    per_mode_simple_nullable='Per100Possessions',
                    measure_type_player_game_logs_nullable='Opponent').get_data_frames()[0]
logs.drop(columns=discard, inplace=True)
logs.drop(logs.iloc[:, 26:], inplace=True, axis=1)
logs.head(5)

,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,OPP_FGM,OPP_FGA,OPP_FG_PCT,OPP_FG3M,OPP_FG3A,OPP_FG3_PCT,OPP_FTM,OPP_FTA,OPP_FT_PCT,OPP_OREB,OPP_DREB,OPP_REB,OPP_AST,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,PLUS_MINUS
0,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,48.5,47.5,83.8,0.566,16.2,30.3,0.533,13.1,17.2,0.765,4.0,33.3,37.4,35.4,12.1,9.1,9.1,5.1,20.2,14.1,124.2,14.1
1,0022000204,2021-05-14T00:00:00,CLE @ WAS,L,47.1,40.2,87.3,0.461,6.9,24.5,0.280,30.4,36.3,0.838,11.8,34.3,46.1,22.5,10.8,8.8,5.9,2.9,18.6,20.6,117.6,14.7
2,0022001044,2021-05-12T00:00:00,CLE vs. BOS,W,48.0,36.0,101.0,0.356,12.0,41.0,0.293,10.0,14.0,0.714,13.0,33.0,46.0,14.0,7.0,9.0,8.0,6.0,23.0,13.0,94.0,-8.0
3,0022001027,2021-05-10T00:00:00,CLE vs. IND,L,49.5,45.4,90.7,0.500,11.3,27.8,0.407,12.4,16.5,0.750,10.3,38.1,48.5,33.0,11.3,7.2,13.4,2.1,21.6,13.4,114.4,9.3
4,0022001021,2021-05-09T00:00:00,CLE vs. DAL,L,49.5,51.5,95.9,0.538,15.5,40.2,0.385,9.3,11.3,0.818,8.2,35.1,43.3,34.0,12.4,9.3,7.2,2.1,24.7,12.4,127.8,27.8