In [1]:
import nba_api
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None)

In [2]:
from nba_api.stats.static.teams import find_team_by_abbreviation
from nba_api.stats.endpoints.teamdashboardbygeneralsplits import TeamDashboardByGeneralSplits

In [3]:
cle = find_team_by_abbreviation('CLE')['id']

---
## Base

In [4]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21',
                                    measure_type_detailed_defense='Base',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 27:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,December,5,3,2,0.600,48.2,40.6,86.1,0.472,10.6,26.6,0.399,14.4,21.6,0.670,10.2,34.5,44.7,26.6,16.8,10.8,5.6,4.0,20.6,19.1,106.3,2.1
1,January,15,6,9,0.400,50.0,39.7,89.1,0.445,9.5,27.8,0.343,16.0,22.1,0.727,12.1,32.5,44.6,22.4,16.5,9.3,4.7,7.3,19.3,21.0,105.0,-6.9
2,February,14,4,10,0.286,49.3,40.6,90.1,0.451,9.2,28.1,0.327,16.8,23.0,0.728,11.7,32.1,43.9,24.1,15.1,6.9,5.9,5.6,19.8,20.8,107.2,-13.6
3,March,13,4,9,0.308,50.0,38.2,87.0,0.439,9.3,29.6,0.314,17.1,23.1,0.740,10.0,33.2,43.2,23.1,15.9,8.3,4.8,5.9,18.0,20.4,102.8,-8.6
4,April,16,4,12,0.250,49.8,40.7,86.7,0.469,11.5,34.9,0.331,17.5,22.0,0.796,9.3,33.2,42.5,27.6,15.8,7.7,3.8,4.9,18.5,20.3,110.4,-5.1
5,May,9,1,8,0.111,50.1,37.4,87.9,0.425,12.1,35.0,0.348,20.3,27.0,0.750,10.4,35.2,45.6,23.5,15.8,5.7,3.2,8.1,15.9,21.9,107.2,-16.7

---
## Advanced

In [5]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21',
                                    measure_type_detailed_defense='Advanced',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 26:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TO,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,December,5,3,2,0.600,250.0,104.1,104.9,100.9,103.2,3.2,1.7,0.654,1.59,18.9,0.265,0.733,0.498,0.165,0.534,0.556,102.4,100.80,84.00,526,0.523
1,January,15,6,9,0.400,730.0,101.7,103.6,109.1,110.0,-7.3,-6.5,0.565,1.36,16.1,0.301,0.716,0.502,0.162,0.499,0.531,98.7,97.35,81.12,1478,0.462
2,February,14,4,10,0.286,677.0,103.4,105.8,117.2,119.6,-13.7,-13.9,0.594,1.60,17.1,0.307,0.731,0.507,0.149,0.502,0.535,100.5,98.38,81.98,1390,0.442
3,March,13,4,9,0.308,624.0,99.8,101.5,108.5,109.5,-8.7,-8.0,0.606,1.46,16.8,0.263,0.708,0.480,0.157,0.493,0.529,98.8,97.50,81.25,1265,0.461
4,April,16,4,12,0.250,768.0,107.3,109.0,112.2,113.3,-4.9,-4.3,0.678,1.75,19.6,0.246,0.747,0.496,0.156,0.535,0.573,99.3,98.03,81.69,1564,0.477
5,May,9,1,8,0.111,437.0,101.9,105.8,120.8,121.9,-18.9,-16.1,0.629,1.49,16.8,0.295,0.745,0.511,0.156,0.494,0.537,99.6,97.26,81.05,884,0.419

---
## Misc

In [6]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21',
                                    measure_type_detailed_defense='Misc',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 14:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,PTS_OFF_TOV,PTS_2ND_CHANCE,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT
0,December,5,3,2,0.600,48.2,23.5,9.6,15.2,55.1,17.9,8.7,14.6,41.6
1,January,15,6,9,0.400,50.0,19.3,14.8,13.4,54.6,19.6,12.2,13.5,47.0
2,February,14,4,10,0.286,49.3,16.0,13.1,13.8,55.4,18.2,13.3,12.7,53.6
3,March,13,4,9,0.308,50.0,16.8,14.0,8.3,52.4,17.9,13.5,14.7,53.8
4,April,16,4,12,0.250,49.8,15.5,11.1,11.5,51.6,17.2,11.3,11.3,54.0
5,May,9,1,8,0.111,50.1,11.6,16.0,8.1,43.6,19.4,14.1,14.3,57.5

---
## Four Factors

In [7]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21',
                                    measure_type_detailed_defense='Four Factors',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 14:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,December,5,3,2,0.600,250.0,0.534,0.251,0.165,0.265,0.533,0.263,0.195,0.267
1,January,15,6,9,0.400,730.0,0.499,0.248,0.162,0.301,0.545,0.220,0.163,0.284
2,February,14,4,10,0.286,677.0,0.502,0.256,0.149,0.307,0.579,0.262,0.131,0.269
3,March,13,4,9,0.308,624.0,0.493,0.266,0.157,0.263,0.532,0.250,0.159,0.292
4,April,16,4,12,0.250,768.0,0.535,0.253,0.156,0.246,0.559,0.222,0.138,0.253
5,May,9,1,8,0.111,437.0,0.494,0.308,0.156,0.295,0.576,0.207,0.099,0.255

---
## Scoring

In [8]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21',
                                    measure_type_detailed_defense='Scoring',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 21:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,December,5,3,2,0.600,50.0,0.691,0.309,0.565,0.047,0.299,0.143,0.136,0.221,0.518,0.583,0.417,0.855,0.145,0.654,0.346
1,January,15,6,9,0.400,48.7,0.688,0.312,0.575,0.055,0.272,0.128,0.153,0.184,0.520,0.489,0.511,0.806,0.194,0.565,0.435
2,February,14,4,10,0.286,48.4,0.689,0.311,0.586,0.069,0.257,0.129,0.156,0.150,0.517,0.517,0.483,0.857,0.143,0.594,0.406
3,March,13,4,9,0.308,48.0,0.659,0.341,0.562,0.053,0.271,0.081,0.167,0.164,0.509,0.532,0.468,0.836,0.164,0.606,0.394
4,April,16,4,12,0.250,48.0,0.598,0.402,0.528,0.061,0.313,0.104,0.158,0.141,0.467,0.600,0.400,0.876,0.124,0.678,0.322
5,May,9,1,8,0.111,48.6,0.602,0.398,0.471,0.064,0.340,0.076,0.189,0.108,0.406,0.545,0.455,0.802,0.198,0.629,0.371

---
## Opponent

In [9]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21',
                                    measure_type_detailed_defense='Opponent',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 27:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,OPP_FGM,OPP_FGA,OPP_FG_PCT,OPP_FG3M,OPP_FG3A,OPP_FG3_PCT,OPP_FTM,OPP_FTA,OPP_FT_PCT,OPP_OREB,OPP_DREB,OPP_REB,OPP_AST,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,PLUS_MINUS
0,December,5,3,2,0.600,48.2,37.4,83.4,0.448,14.3,35.8,0.398,15.2,22.0,0.693,9.4,34.3,43.7,24.7,19.6,9.4,4.0,5.6,19.1,20.6,104.2,-2.1
1,January,15,6,9,0.400,50.0,41.7,88.5,0.472,13.0,33.6,0.386,15.4,19.5,0.792,11.1,33.9,45.0,25.2,16.6,9.0,7.3,4.7,21.0,19.3,111.9,6.9
2,February,14,4,10,0.286,49.3,44.7,88.9,0.503,13.6,32.1,0.422,17.9,23.3,0.768,9.3,34.0,43.2,25.3,13.3,7.9,5.6,5.9,20.8,19.8,120.8,13.6
3,March,13,4,9,0.308,50.0,41.6,88.1,0.473,10.5,31.5,0.333,17.6,22.0,0.800,11.3,36.0,47.3,23.1,16.2,9.1,5.9,4.8,20.4,18.0,111.4,8.6
4,April,16,4,12,0.250,49.8,43.7,89.5,0.488,12.7,34.3,0.370,15.4,19.8,0.778,9.3,34.7,44.1,29.1,14.1,8.6,4.9,3.8,20.3,18.5,115.4,5.1
5,May,9,1,8,0.111,50.1,47.5,94.1,0.504,13.4,33.7,0.398,15.6,19.5,0.800,10.2,36.0,46.2,28.5,10.1,9.1,8.1,3.2,21.9,15.9,123.9,16.7